<app-header></app-header>

<div fxLayout="column"
     fxLayoutAlign="space-around center" >
  <div class="nav-content">

    <div>
      <!-- TradingView Widget BEGIN -->
      <!--<div id="tv-medium-widget-54b92" style="margin-left: 10px; margin-right: 10px;"></div>-->



      <!-- TradingView Widget END -->


    </div>


    <div fxLayout="row"
         fxLayoutAlign="space-between start"
         fxLayoutGap="20"
    >

       <app-scorecard label="Estimated earnings"
                      value="$158.22"
                      description="+$24.20 (15%)"
                      suggestionAfter="of last quarter"
                      changeType="POSITIVE"
       ></app-scorecard>

      <app-scorecard label="Estimated earnings"
                     value="$158.22"
                     description="+$24.20 (15%)"
                     suggestionAfter="of last quarter"
                     changeType="POSITIVE"
      ></app-scorecard>

      <app-scorecard label="Estimated earnings"
                     value="$158.22"
                     description="+$24.20 (15%)"
                     suggestionAfter="of last quarter"
                     changeType="POSITIVE"
      ></app-scorecard>

    </div>

  </div>
</div>


