
:host {


  .logo {
    width: 60px;
    margin-right: 50px;

  }

  mat-toolbar {
    background-color: #fff;
  }

  .spacer {
    flex: 1 1 auto;
  }

//
//  mat-toolbar {
//    background-color: #000;
//
//
//  }
//
//  .mega-header {
//    background-color: #222;
//    height: 274px;
//
//    .img-holder {
//      max-width: 952px;
//    }
//  }
//;


}
