<!--<md-toolbar color="primary">-->
  <!--<span>Custom Toolbar</span>-->


<!--</md-toolbar>-->

<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="send.html">Send</a></li>
      <li><a href="Advanced.html">Advanced</a></li>
      <li><a href="about.html"><i class="material-icons">settings</i></a></li>
    </ul>
  </div>
</nav>

<h1>
  {{title}}
</h1>

<a class="waves-effect waves-light btn">button</a>

